.main-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.authmodal-wrapper {
  position: relative;
  width: 352px;
  padding: 36px 44px;
  /* box-sizing: border-box; */
  background-color: white;
  border-radius: 10px;
}
.form-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-wrapper {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin: 40px 0; */
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  /* border: none; */
  margin-top: 20px;
  gap: 10px;
  width: 100%;
}
.input {
  /* border: none; */
  outline: none;
  width: 100%;
  height: 60px;
  /* background-color: rgb(234, 234, 234); */
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
}
.input::placeholder {
  color: rgb(71, 68, 68);
}
.close-button {
  position: absolute !important;
  top: 0;
  right: 0;
}
.heading {
  font-size: 34px;
  /* font-style: italic; */
  font-weight: 700;
  margin: 20px 0 16px;
  /* text-transform: uppercase; */
}
.terms {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

@media (max-width: 525px) {
  .authmodal-wrapper {
    position: relative;
    width: 200px;
    padding: 12px 18px;
    /* box-sizing: border-box; */
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
  }
  .heading {
    font-size: 28px;
  }
}
