.inbox-display{
    

    height: 100%;
    width: 100%;
}
/* .matches-display{
    display: flex;
    height: 100%;
    width: 100%;
} */
.match-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    
}
.match-card:hover{
    background-color: rgb(224, 224, 224);
}